form {
    outline: none;
    background-color: red;
}

.friend-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgba(246, 241, 235, 0.513);
    border-radius: 5px;
    padding-bottom: 12px;
}

.friends-container {
    display: flex;
    justify-content: center;
    gap: 17px;
}

button {
    border: 2px solid rgba(167, 111, 145, 0.452);
    border-radius: 3px;
    background-color: rgba(207, 184, 210, 0.179);
    color: rgb(29, 13, 24);
    margin: 3px;
}